.vs
bin
obj
dist
node_modules
*.log*
*.dt.ts
*.tsbuildinfo
*.map
*.user
packages/**/*.js
server.d.ts
server.js
packages/uniya/src/Collections.d.ts
tsconfig.tsbuildinfo

packages/uniya-xml/src/index.d.ts
packages/uniya-xml/src/XmlNode.d.ts
packages/uniya-xml/src/XmlReader.d.ts
packages/uniya-xml/src/XmlTextReader.d.ts
packages/uniya-xml/src/XmlTextWriter.d.ts
packages/uniya-xml/src/XmlWriter.d.ts
packages/uniya/__tests__/base.test.d.ts
packages/uniya/src/Base64.d.ts
packages/uniya/src/Core.d.ts
packages/uniya/src/index.d.ts
packages/uniya/src/Localizer.d.ts
